body {
  color: white;
  display: flex;
  margin: 0;
  flex-direction: column;
  gap: 30px;
  background-color: #181818;
}

button:hover {
  background-color: wheat;
  color: darkgoldenrod;
}

button {
  cursor: pointer;
  background-color: darkgoldenrod;
  color: wheat;
  padding: 10px;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 35px;
  border: 2px solid darkgoldenrod;
  border-radius: 10%;
  text-align: center;
  font-weight: bold;
}

.header {
  color: orange;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 120px;
  width: 100vw;
}

.main {
  display: flex;
}

.options {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 200px;
  margin-right: 200px;
  gap: 20px;
}

.grid-container {
  margin-right: 200px;
  margin-bottom: 40px;
  height: fit-content;
  width: fit-content;
  border: 20px solid #FFD580;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
}
.block {
  background-color: whitesmoke;
  flex: 1;
  display: inline-block;
  border: 1px solid rgb(156 156 156);
}

.row {
  display: flex;
  flex: 1;
}